<p id="notice"><%= notice %></p>

<h1>Strips</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @strips.each do |strip| %>
      <tr>
        <td><%= strip.title %></td>
        <td><%= strip.body %></td>
        <td><%= strip.published %></td>
        <td><%= link_to 'Show', strip %></td>
        <td><%= link_to 'Edit', edit_strip_path(strip) %></td>
        <td><%= link_to 'Destroy', strip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Strip', new_strip_path %>
